body {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar .active {
  background-color: #007bff;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
svg {
  width: 1em;
  margin-right: 0.5em;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  color: #007bff !important;
}
/* Topbar Styles */
.topbar{
  flex-grow: 4;
  padding:2px;
  right: 300px;
  background-color: #fff;
  z-index: 1;
}

/* Content Start Here */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

div.main-content {
  margin: 5em 5em;
}

.danger {
  background-color: rgb(255, 65, 54);
  padding: 1em;
  border: none;
  border-radius: 5px;
}
input{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.danger:hover, .success:hover{
  cursor: pointer;
}
.success {
  background-color: rgb(0, 219, 0);
  padding: 1em;
  border: none;
  border-radius: 5px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 10px;

}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.item:first-child{
    margin-top: 2em;
}
.submit{
    display: flex;
    justify-content: flex-end;
    column-gap: 2em;
}
